#root {
    margin: 0 auto;
    text-align: center;
    font-family: Courier;
    justify-content: center;
}

/* background color for navbar */
.bg-navColor {
    background-color: #000000;
}

.modal {
    font-family: Courier;
}

.modal-header,
.modal-body,
.modal-footer {
    background-color: rgb(239, 237, 237);
}

/* pagination button colors  */
.active {
    background-color: #f6635c;
    color: #FFFFFF;
}

.not-active {
    background-color: #1f1e1e;
    color: #FFFFFF;
}